html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.body {
    margin: 0px;
    margin-bottom: 300px;
    padding: 0px;
    background-color: #3F403F;
    color: #ffffff;
}

.header {
    margin: 40px 20px 20px 20px;
    font-size: 240%;
}  

.section {
     margin: 20px;
}

@media (min-width: 1200px){
.header {
    margin: 100px 50px 10px 50px;
    font-size: 240%;
}  

.section {
     margin: auto 70px 70px 70px;
}
}

/* NAVBAR CODE */
.nav-bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #000000;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    width:100%;
}

.list{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

.nav-link {
    display: block;
    width: 130px;
    padding: 25px;
    color: #ffffff;
    font-weight: 500;
    font-size: 140%;
    text-decoration: none;
    text-align: center;
  }

.nav-link:hover {
    background-color: #E63946;
}


/* HOME */
.home{
    text-align: center;
}

.header.home{
    margin-top: 120px;
    font-size: 400%;
}


/* ABOUT ME */
.about-me{
    text-align: left;
}

.bio-text{
    font-size: 110%;
    display: block;
    margin: auto;
    padding-top: 30px;
}

img.selfie {
    border-radius: 50px;
    margin: auto;
    display: block;
    width: 350px;
    height: 350px;
    
  }

@media (min-width: 1200px){
    .bio-text{
        font-size: 130%;
        display: inline-block;
        margin: auto;
        vertical-align: middle;
        width: 50%;
    }

    img.selfie {
        border-radius: 50px;
        display: inline-block;
        vertical-align: middle;
        margin: 50px;
      }
}
  

/* RESUME */
.uni-list{
    list-style-type: none;
}

.education-point{
    margin-bottom: 20px;
}

.list-item{
    margin: 0px 0px 0px 20px;
}

.list-item.link{
    color: #ffffff;
    /* text-decoration: none; */
}

.list-item.link:hover{
    color:#E63946
}

.download-resume{
    color: #ffffff;
    display: inline-block;
}

.download-resume:hover{
    color: #E63946;
}

/* PROJECTS */

.projects-container{
    display: grid;
    margin-top: 30px;
    height: auto;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

@media (min-width: 1200px){
    .projects-container{
        display: grid;
        margin-top: 30px;
        height: auto;
        gap: 20px;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto auto auto;
    }
}

.project{
    color: #000000;
    background-color: #EFEFEF;
    border-radius: 10px;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* CONTACT ME */
.form {
    margin: 100px auto auto auto;
    color: #000000;
    background-color: #EFEFEF;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
}

.contact{
    text-align: center;
}

.form-element {
    margin-top: 25px;
    font-weight: 600;
}

.form-element>input{
    float: right;
}

.form-element>textarea{
    float: right;
}

.input{
    width: 65%;
    height: 20px;
    border: 1px solid #3F403F;
    padding: 2px;
    outline: none;
}

.input.message{
    height: 100px;
    
}

.btn {
    font-size: 100%;
    width: 130px;
    height: 30px;
    margin-top: 25px;
    margin-left: 11px;
}

.btn-primary {
    color: #ffffff;
    background-color: #7600bc;
    border-color: #000000;
    border-radius: 3px;
    border-width: 1px;
}

.btn-primary:hover{
    background-color: #338000;
    border-color: #000000;
    color: #ffffff;
}

.btn-secondary {
    color: var(--green);
    background-color: #e88504;
    border-color: #000000;
    border-radius: 3px;
    border-width: 1px;
}
.btn-secondary:hover{
    background-color: #D0312D;
    border-color: #000000;
    color: #ffffff;
}