html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.body {
    margin: 0px;
    padding: 0px;
    background-color: #3F403F;
    color: #ffffff;
}

.header {
    margin: 100px 50px 10px 50px;
    font-size: 240%;
}  

.section {
    margin: auto 70px;
}

/* NAVBAR CODE */
.nav-bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #000000;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    width:100%;
}

.list{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

.nav-link {
    display: block;
    width: 150px;
    padding: 25px;
    color: #ffffff;
    font-weight: 500;
    font-size: 140%;
    text-decoration: none;
    text-align: center;
  }

.nav-link:hover {
    background-color: #E63946;
}

/* HOME */
.home{
    text-align: center;
}

.header.home{
    margin-top: 120px;
    font-size: 400%;
}


/* ABOUT ME */
.about-me{
    text-align: left;
}

.bio-text{
    font-size: 130%;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    width: 50%;
  }
  
img.selfie {
    border-radius: 50px;
    vertical-align: middle;
    margin: 50px;
  }

/* RESUME */
.uni-list{
    list-style-type: none;
}

.education-point{
    margin-bottom: 20px;
}

.list-item{
    margin: 0px 0px 0px 20px;
}

.list-item.link{
    color: #ffffff;
    /* text-decoration: none; */
}

.list-item.link:hover{
    color:#E63946
}

.download-resume{
    color: #ffffff;
    display: inline-block;
}

.download-resume:hover{
    color: #E63946;
}

/* PROJECTS */
.projects-container{
    display: grid;
    margin-top: 30px;
    height: 400px;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto auto;
}

.project{
    color: #000000;
    background-color: #EFEFEF;
    border-radius: 10px;
    height:300px;
    padding-left: 20px;
    padding-right: 20px;
}